body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #fffcef;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Membuat header tetap melayang di atas layar */
    top: 0; /* Mengatur posisi header di bagian paling atas */
    z-index: 1000; /* Menentukan urutan tampilan di atas konten */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.back-btn {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    margin-top: 60px; /* Memberikan ruang agar konten tidak tertutup oleh header */
}

.profile-section {
    margin-bottom: 40px;
}

.profile-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-content img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

footer {
    background-color: #424187;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
